.color-black { color: rgb(0, 0, 0); }
.color-white { color: rgb(255, 255, 255); } 
.color-1 { color: rgba(242, 242, 242, 1); }
.color-2 { color: rgba(216, 216, 216, 1); }
.color-3 { color: rgba(165, 165, 165, 1); }
.color-4 { color: rgba(140, 140, 140, 1); }
.color-5 { color: rgba(63, 63, 63, 1);}

.bgcolor-black { background-color: rgb(0, 0, 0); }
.bgcolor-white { background-color: rgb(255, 255, 255); }
.bgcolor-1 { background-color: rgba(242, 242, 242, 1); }
.bgcolor-2 { background-color: rgba(216, 216, 216, 1); }
.bgcolor-3 { background-color: rgba(165, 165, 165, 1); }
.bgcolor-4 { background-color: rgba(140, 140, 140, 1); }
.bgcolor-5 { background-color: rgba(63, 63, 63, 1);}

/* #F2F2F2、#D9D9D9、#A6A6A6、#8C8C8C、#404040 */
